<div class="container">
	<%= render :partial => 'shared/nav' %>
	<div style="margin-top: 80px;">
			<h2> My Account </h2><hr>
			<div class="row no-gutters">

				
			</div>
	</div>
</div>


<style type="text/css">
	.account{	
		padding: 70px;
		text-align: center;
	}
</style>