
.error{
    color: #f30e0e;
    font-size: 13px;
}



.address_page{
	padding: 30px;
    padding-left: 50px;
    box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.1), 0 1px 8px 0 rgba(67, 41, 163, 0.1);
}

.add_address {
    text-align: center;
    border: 1px dotted #e2d8d8;
    padding-top: 122px;
}